
h1 {
    font-size:2em;

}body{

    background: white;
}
.bg-nav{
    background: white;
    color: green;
}
.selected{
    color:navy;
}
#report{
    color: #222;
    background:darkcyan;
    height: 300px;
    padding: 2em;
}
#report h2{
    font-style: italic;
    font-family: Helmet,Freesans,sans-serif;
    font-size: 1.1875em;
    color: #4d4d4d;
}
#report h1{
    font-size: 3em;
    font-weight: bold;
    font-family: MuseoSans,Helmet,Freesans,sans-serif;
}
#report h1,h2{
    margin: 5px;
}
.report-textbox{
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 2.4em;
    width: 10%;
}
.submit-button{
    font-size: 1.1em;
    height: 2.4em;
    width: 4.5em;
    font-family: MuseoSans,Helmet,Freesans,sans-serif;
    font-weight: bold;
    background: green;
    border: none;

}
/*HOme*/
.content-Home{
    margin-top: -4em;
    margin-bottom: 1em;
}
.tablewrapper{
    display: table;
    width: 100%;
    padding: 0 0 1em;
    table-layout: fixed;
}
.tablewrapper > div{
    display: table-cell;
    width: 50%;
}
.tablewrapper >div >h1{
    margin: 10px ;
}
.problem-list > li{
    margin-bottom: 1em;
}
/*Home */
@media only screen and (max-width: 600px) {
    #report h1{
        font-size: 2em;
        font-weight: bold;
        font-family: MuseoSans,Helmet,Freesans,sans-serif;
    }

    .hide {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
    #report h1,a,h2{
        margin: 5px;
    }
    .report-textbox{
        padding: 10px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        height: 2.4em;
        width: 10%;
    }
    .tablewrapper >div >h1{
        margin: 5px ;
    }
    .problem-list > li{
        margin-bottom: 1em;
    }

    .tablewrapper {
        display: block;
        width: 100%;
        padding: 0 0 1em;
        table-layout: fixed;
    }

    .tablewrapper > div {
        display: block;
        width: 100%;
    }

    .content-Home {
        margin-top: -1em;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

